<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
        <title>The Improv Platform Builder</title>
    </head>
    <body>
        <header>
            <h1>The Improv Platform</h1>
        </header>
        <main>
            <form action="" method="get">
                <label for="players_num">
                    <p id="question">How many players are there?</p>
                    <input id="players_num" type="text" name="players_num"> <br>
                    <input id="submit" type="submit" value="Who? What? Where?">
                </label>
            </form>
            <div>{{output}}</div>
        </main>
    </body>
</html>